@font-face {
    font-family: "ZCOOLAddictItalic01";
    src: url("./images/font/ZCOOLAddictItalic01.ttf") format("truetype");
}
@font-face {
    font-family: "ZCOOLAddictItalic02";
    src: url("./images/font/ZCOOLAddictItalic02.ttf") format("truetype");
}
@font-face {
    font-family: "站酷庆科黄油体";
    src: url("./images/font/站酷庆科黄油体.ttf") format("truetype");
}
@font-face {
    font-family: "站酷快乐体2016修订版";
    src: url("./images/font/站酷快乐体2016修订版.ttf") format("truetype");
}
.search-text {
    font-size: 20px;
    color: #f00;
    display: flex;
    font-family: "ZCOOLAddictItalic02";
}
